body {
  color:#4d4d4d;
  font-family: 'Oswald', sans-serif;
}

a,a:visited{
	color:#4d4d4d;
}
.shopping-item-amount{
	text-align: right;
	font-family: 'Montserrat', sans-serif;
}
.text-underline{
	text-decoration: underline;
}
.broad-hr{
	border-top-width:5px;
}
.silver-color{
	color:#C0C0C0;
}
.shopping-item-action-container>a::after{
	content:' | ';
}
.shopping-item-action-container>a:last-child::after {
	content:'';
}
@media (max-width:767px){
	span.visible-xs{
		display: inline !important;
	}
	.shopping-item-amount{
		font-size: 20px;
	}
}

