<section id="shopping-cart-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>YOUR SHOPPING BAG</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <shopping-cart-list cart-list="shoppingCartItems"></shopping-cart-list>
                </div>
            </div>
        </div>
        <edit-cart-modal isOpen="isModalOpen"></edit-cart-modal>
</section>